#primary-body.horizontal-grid-addon(primary-body)
  .secondary-body.primary-grid-child
    .add-on-template.horizontal-grid
      .panel.panel-default.horizontal-grid-panel
        .panel-body(horizontal-grid-body)
          .panel-children(
            ng-repeat="template in hParallelTemplates.top"
            tkg-template-url="template"
            ng-class="'panel-children-' + $index"
            horizontal-grid-children)
    .horizontal-grid
      .panel.panel-default.horizontal-grid-panel
        .panel-body(horizontal-grid-body)
          .panel-children(
            ng-repeat="template in hParallelTemplates.bottom"
            tkg-template-url="template"
            ng-class="'panel-children-' + $index"
            horizontal-grid-children)
